#nodata{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  font-family: "DMSans-Bold";
  color: var(--neutral-0);
  flex: 1;
  margin-top: 0px;
  h2{
    font-size: 40px;
    text-align: center;
  }
}
@media (min-width: 400px) {
  #nodata{
    margin-top: 40px;
  }  
}