#hourly{
  width: 100%;
  padding: 20px 16px;
  border-radius: 20px;
  background-color: var(--neutral-800);
  color: var(--neutral-0);
  header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    h1{
      font-size: 18px;
      font-family: "DMSans-Semibold";
    }
    div{
      position: relative;
      button{
        width: auto;
        display: flex;
        align-items: center;
        gap: 12px;
        padding: 8px 16px;
        background-color: var(--neutral-600);
        font-size: 16px;
        justify-content: space-between;
        border-radius: 8px;
        border: 0px;
        color: var(--neutral-0);
      }
      ul{
        position: absolute;
        width: 212px;
        right: 0px;
        top: 44px;
        background-color: var(--neutral-800);
        padding: 8px;
        border: 1px solid var(--neutral-600);
        border-radius: 12px;
        gap: 4px;
        font-family: "DMSans-Medium", sans-serif;
        li{
          border: 0px;
          background-color: var(--neutral-800);
        }
        li:hover{
          background-color: var(--neutral-600);
        }
      }
    }
  }
  ul{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    li{
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 8px 12px;
      background-color: var(--neutral-700);
      border-radius: 8px;
      border: 1px solid var(--neutral-600);
      font-family: "DMSans-Medium", sans-serif;
      img{
        width: 40px;
      }
      time{
        width: 100%;
        font-size: 18px;
      }
      span{
        display: flex;
        justify-content: end;
        width: 100%;
        font-size: 16px;
      }
    }
  }
}

@media (min-width: 768px) {
  #hourly{
    header{
      margin-top: 0px;
    }
  }
}
@media (min-width: 1440px) {
  #hourly{
    width: 384px;
    height: 100%;
  }
  
}