#signature{
  color: var(--neutral-600);  
  font-size: 18px;
  a{
    text-decoration: none;
    color: var(--neutral-0);
  }
  a:hover{
    text-decoration: underline;
  }
}

#desktoping{
  width: 100%;
}
@media (min-width: 1440px) {
  #desktoping{
    display: flex;
    gap: 32px;
    #desktoping-left{
      width: 100%;
    }
  }
  
}