*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --neutral-900: #02012C;
  --neutral-800: #262540;
  --neutral-700: #302F4A;
  --neutral-600: #3C3B5E;
  --neutral-500: #ACACB7;
  --neutral-200: #D4D3D9;
  --neutral-0: #FFFFFF;
  --orange-500: #FF820A;
  --blue-500: #4658D9;
  --blue-700: #2B1B9C;
}
@font-face {
  font-family: "Bricolage-Grotesque";
  src: url("../src/assets/fonts/Bricolage_Grotesque/BricolageGrotesque-Bold.ttf");
}
@font-face {
  font-family: "DMSans-Bold";
  src: url("./assets/fonts/DM_Sans/DMSans-Bold.ttf");
}
@font-face {
  font-family: "DMSans-Light";
  src: url("./assets/fonts/DM_Sans/DMSans-Light.ttf");
}
@font-face {
  font-family: "DMSans-Medium";
  src: url("./assets/fonts/DM_Sans/DMSans-Medium.ttf");
}
@font-face {
  font-family: "DMSans-SemiBold";
  src: url("./assets/fonts/DM_Sans/DMSans-SemiBold.ttf");
}
@font-face {
  font-family: "DMSans-SemiBoldItalic";
  src: url("./assets/fonts/DM_Sans/DMSans-SemiBoldItalic.ttf");
}
body{
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--neutral-900);
  font-family: sans-serif;
  margin-bottom: 28px;
}
#root{
  width: 90%;
  max-width: 1540px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}
button{
  cursor: pointer;
}
button:hover{
  opacity: 0.8;
}
.hidden{
  visibility: hidden;
}
li{
  list-style: none;
}
.selected-imperial{
  background-color: var(--neutral-700);
  img{
    visibility: visible;
  }
}
.selected-city{
  background-color: var(--neutral-700);
  border-radius: 8px;
  border: 1px solid var(--neutral-600);
}
.selected-day{
  #hourly{
    div{
      ul{
        li{
          background-color: var(--neutral-700);
        }
      }
    }
  }
}
.display-none{
  display: none;
}
.bg-blur{
  background-color: #262540e7; /* var(--neutral-800);  */
  backdrop-filter: blur(10px);
}

@media (min-width: 786px) {
  #root{
    width: 80%;
  }
}